body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  
  
}
header, nav, main, footer {
  display: block;
  width: 100%;
  padding: 0.1rem;
  
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(32, 91, 32), blue);
  font-size: xx-large;
  font-weight: 600;
  gap: 2rem;
}
span{
  color: rgb(224, 226, 121);
}
header img{
  border-radius: 5%;
  object-fit: cover;
  box-shadow: 0 0 30px gray;
  border: 1px solid black;
  padding: 2px;
  
  
}
section img{
  border-radius: 1%;
  
  vertical-align:middle;
  
  
  
  
  
  
  
}

nav {
  background-color: tomato ;
  
}
.navigation {
  list-style: none;
	margin: 0 auto;
	max-width: 760px;
  display: flex;
	flex-direction: column;
}
.navigation.show {
  display: flex;
}
#menu {
  display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: #eee;
	color: #000;
  justify-self: end;
  
}

#menu::before {
	content: "≡";
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
	color: white;
	background-color: black;
}
.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

h2{
  background: linear-gradient(to right, rgb(32, 91, 32), blue);
  border-radius: 15% 0% 5% 0%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  text-align: center;
  
}
main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: silver;
  
}
h1{
  grid-column: 1/3;
  margin: 0;
  padding-left: 1rem;
  font-size: 2em;
}




section{
  
  background-color: aliceblue;
  flex-shrink: 1;
  margin: 1rem;
  margin-top: 0;
  border-radius: 1%;
  
  
  
  
}
.courseworklist{
  display: flex;
  flex-direction: column;
  list-style-type: square;
  gap: 2rem;
 
  
}

#courseCards{
  display: flex;
  flex-direction: column;
  
  
}
#courseCards div{
  
  border-radius: 5px;
  margin: 1.5rem;
  
  text-align: center;
 

}

#controls{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

button{
  background-color: #110404;
  color: #fcf7f7;
  border-radius: 3px;
}
footer{
  background-color: silver;
}